@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --site-min-height: 60px;
    --site-max-width: 1440px;

    // * COLORS
    --color-primary: #1c8adb;
    --color-secondary: white;

    // * FONTS
    --font-text: "Quicksand";
    --font-title: "Montserrat";
}